@model IEnumerable<keeganStudyGroup.Models.StudyGroup>
@{
    ViewBag.Title = "ListMembers";
}

<table>
    <tr>
        <th>Student Number</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email Address</th>
    </tr>
   @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.StudentNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.name)</td>
                    <td>@Html.DisplayFor(modelItem => item.surname)</td>
                    <td>@Html.DisplayFor(modelItem => item.emailAddress)</td>
                </tr>
            }

</table>

